body{
    font-family: "Roboto", serif;
}
.container{
    display: flex;
    padding: 10px;
}

.leftMenu{
    flex: 1;
}

.search{
    width: 200px;
    padding: 10px;
    border: 2px solid gray;
}


h1{
    font: 30px;
    color: #555;
    font-weight: 300;
}

.cats{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.cat{
    cursor: pointer;
    font-size: 20px;
    font-weight: 300;
    padding: 30px;
}


.content{
    flex: 4;
}

.products{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.product{
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;    
}

img{
    width: 150px;
    height: 250px;
    object-fit: contain;
}

.name{
    font-weight: 300;
}